/** Styles from the link preview from astro-embed */

.link-preview {
  --link-preview-corners: 0.5em;
  --link-preview-padding-inline: 0.75rem;

  background-color: light-dark(oklch(100% 0 0), oklch(20% 0 0));
  font-family: sans-serif;
  box-shadow: 0 4px 8px oklch(100% 0 0 / 20%);
}
.link-preview a:link {
  font-weight: bold;
  text-decoration: none;
}

.link-preview__description {
  white-space: wrap !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

:root {
  /** Set the maximum width of the link preview. */
  --link-preview-width: 30em;
  /** Set the inline padding of the card text. */
  --link-preview-padding-inline: 1em;
  /** Set the vertical padding around the card text. */
  --link-preview-padding-block: 0.5em;
  /** Round the corners of the link preview card. */
  --link-preview-corners: 0.5em;
}
