---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getPublishableBlogEntries } from "./_getPublishableBlogEntries";

const allPosts = await getPublishableBlogEntries();
---

<Layout>
  <main class="prose">
    <ul class="full-bleed-container">
      {
        allPosts.map((post) => (
          <li>
            <Card
              title={post.data.title}
              href={post.collection === "posts" ? `/${post.slug}/` : post.data.url}
            >
              <div>
                {post.data.description ?
                  <div style="margin-bottom: .75em; text-wrap: balance;">
                    {post.data.description}
                  </div>
                : null}
                <div style="font-size: 0.9em;">
                  {post.data.published.toLocaleDateString(undefined, {
                    day: "2-digit",
                    month: "short",
                    year: "numeric",
                  })}
                </div>
              </div>
            </Card>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  ul {
    margin-bottom: 2em;
    padding-inline-start: 0;
    list-style: "";
  }

  li {
    margin-bottom: 1em;
  }
</style>
